<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict/>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>667F585E24CE2E3F00851F6E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>667F587424CE2E4200851F6E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>667F587F24CE2E4300851F6E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
